.content {
  /* margin: auto;
  display: flex;
  direction: column;
  align-items: center; */
}

.row {
  display: flex;
  border: 2px grey solid;
  width: 50%;
}

.column-front {
  width: 50%;
}

.column-back {
  width: 50%;
}
